body{
	background: #454545;
	line-height: 1.7;
	
}
a{
	text-decoration: none; 
}
a,body{
	color: #eee;
}
.side-bar {
	float: left;
	width: 20%;
}
.main{
	float: right;
	width: 80%;
}
.side-bar >*{
	padding: 10px 15px;
}

.side-bar .nav a,
.side-bar .tag-list a {
	display: block;
	padding: 5px;
	color: #888;
}
.side-bar .nav a:hover,
.side-bar .tag-list a:hover{
	color: #eee;
	-webkit-transition:color 200ms;
	-o-transition:200ms ;
	transition:200ms ;
}
.side-bar .nav a{
	font-weight: 700;
}
.main{
	float:right;
	width: 80%;
	
	color:#454545;
}
.header .logo{
 	line-height:1;
	border: 5px solid #eee;
	padding: 10px 20px;
	font-size:30px;
	display: inline-block;
	margin-bottom:10px;	
	} 
	.article-list{
		
		margin-right: 30%;
		background: #fff;
		padding: 20px 30px;
		-webkit-box-shadow: 0 0 3px 2px raba(0,0,0,0.2);
		
		box-shadow: 0 0 3px 2px  raba(0,0,0,0.2);;
	}
	.article-list .item{
		margin-bottom: 20px;
	}
	 .article-list .item .title{
	 	font-size:22px ;
	 	font-weight: 700;
	 	margin: 10px 0;
	
	 }
	.article-list .item .status{
		font-size: 13px;
		color: #ccc;
		margin: 10px 0;
	}
	.article-list .item > *{
		 margin: 10px 0;
	}
	
